* {
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}
/******** HEADER **********/

header {
  background-image: url(./assets/PecanGrill-homepage-header-image.png);
  min-height: 100vh;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

.top-cont {
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  padding: 10px 0 10px 0;
}
.pg-logo {
  width: 140px;
  height: 127;
}
.reservation-btn {
  background-color: white;
  text-decoration: none;
  color: black;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 16px;
  padding: 5px 10px;
}

.hero-cont {
  display: flex;
  flex-direction: column;
  margin: auto;
  border: 1px solid white;
  width: 80%;
  min-height: 85vh;
  align-items: center;
  justify-content: center;
}

.pg-logo-round img {
  margin-top: 210px;
  width: 230px;
}
.hero-btn-cont {
  text-align: center;
  width: 100%;
  padding-top: 50px;
}

.menu-btn,
.hours-btn {
  background-color: white;
  color: black;
  text-decoration: none;
  padding: 5px 30px;
  font-size: 16px;
  margin: 10px 30px;
  text-transform: uppercase;
  cursor: pointer;
}
.down-arrow {
  margin-top: 30px;
}

/******** HEADER MEDIA QUERIES **********/

/* SMALL DEVICES */
@media (max-width: 700px) {
  .hero-cont {
    min-height: 85vh;
  }
  .pg-logo-round img {
    margin-top: 100px;
    width: 230px;
    height: auto;
  }
  .hero-btn-cont {
    margin-top: 0px;
  }
  .down-arrow {
    margin-top: 50px;
  }
}

/* LARGE DEVICES */
@media (min-width: 1693px) {
  .hero-cont {
    min-height: 90vh;
  }
  .pg-logo-round img {
    margin-top: 410px;
    width: 400px;
    height: auto;
  }
  .hero-btn-cont {
    margin-top: 60px;
  }
  .down-arrow {
    margin-top: 100px;
  }
}

/******** MENU SECTION **********/

.menu {
  display: flex;
  background-image: url(./assets/PecanGrill-homepage-intro-background.jpg);
  width: 100%;
  height: auto;
  background-repeat: no-repeat;
  background-size: cover;
}
.menu-left {
  width: 40%;
  margin-left: 150px;
  margin-right: 50px;
}
.menu-right {
  width: 60%;
}
.menu-right img {
  width: 547px;
}
.menu-list {
  display: flex;
  margin-top: 40px;
  list-style: none;
  text-transform: uppercase;
}

.menu-list li {
  padding-right: 30px;
  margin-top: 50px;
}

li a {
  text-decoration: none;
  font-size: 16px;
}
.menu-h1 {
  margin-top: 50px;
  font-size: 30px;
}

.menu-p {
  margin: 50px 0;
}

/******** MENU MEDIA QUERIES **********/

/* SMALL DEVICES */
@media (max-width: 700px) {
  .menu {
    display: flex;
    flex-direction: column;
  }
  .menu-left {
    margin: 0;

    width: 100%;
  }
  .menu-right {
    margin: 80px 0 0 0;
    width: 100%;
  }
  .menu-right img {
    width: 100%;
  }
  .menu-article {
    padding-left: 40px;
  }
  ul {
    display: flex;
    justify-content: center;
  }
}

/* LARGE DEVICES */
@media (min-width: 1693px) {
  .menu-left {
    width: 60%;
    margin-left: 450px;
    margin-right: 50px;
  }
}

/******** REVIEWS SECTION **********/

.reviews {
  background-image: url(./assets/PecanGrill-homepage-reviews-background.jpg);
  width: 100%;
  height: 600px;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: -4px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cust-review {
  max-width: 750px;
}
.arrow-left {
  align-self: flex-start;
  position: absolute;
}
.arrow-right {
  align-self: flex-end;
  position: absolute;
}
.review-heading,
.cust-review,
.reviewer-cont {
  color: white;
}
.review-heading {
  margin-bottom: 50px;
  text-transform: uppercase;
}
.cust-review {
  font-size: 35px;
  text-align: center;
  margin: 0 20px;
}
.reviewer-cont {
  font-size: 20px;
  margin-top: 20px;
}

/******** REVIEWS MEDIA QUERIES **********/

/* SMALL DEVICES */
@media (max-width: 700px) {
  .cust-review {
    font-size: 25px;
    margin: 0 35px;
  }
}

/******** FOOTER **********/

footer {
  background-color: rgb(25, 22, 22);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 200px;
}

.footer-logo1,
.footer-logo2,
.footer-contact,
.footer-social {
  padding: 0 0 0 100px;
}

.footer-contact {
  color: white;
}
.footer-reservations {
  margin-bottom: 5px;
}
.footer-phone {
  margin-bottom: 8px;
}

.footer-address {
  line-height: 1.4;
}

/******** FOOTER MEDIA QUERIES **********/

/* SMALL DEVICES */
@media (max-width: 700px) {
  footer {
    background-color: rgb(25, 22, 22);
    display: flex;
    flex-direction: column;

    width: 100%;
    height: auto;
  }
  .footer-logo1,
  .footer-logo2,
  .footer-contact,
  .footer-social {
    padding: 20px 0 20px 0;
  }
  .footer-contact {
    text-align: center;
  }
}
